<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	th:replace="~{admin/admindashboardLayout :: Layout(~{::section})}">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css">
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<head>
</head>
<body>

	<section>
		<!-- Main Content -->
		<div class="container mt-4">
			<h2 class="mb-3">Products</h2>
			<div class="table-responsive">
				<table class="table table-bordered table-hover">
					<thead class="table-dark">
						<tr>
							<th>Sr.No</th>
							<th>Product Name</th>
							<th>Category</th>
							<th>Brand</th>
							<th>Retail Price</th>
							<th>Wholesale Price</th>
							<th>Min Order Qty</th>
							<th>Shipping Cost</th>
							<th>Posted At</th>
							<th>Action</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="data , no :${products}">
							<td th:text="${no.index+1}"></td>
							<td th:text="${data.productName}"></td>
							<td th:text="${data.category}"></td>
							<td th:text="${data.brand}"></td>
							<td th:text="${data.retailPrice}"></td>
							<td th:text="${data.wholesalePrice}"></td>
							<td th:text="${data.minOrderQuantity}"></td>
							<td th:text="${data.shippingCost}"></td>
							<td th:text="${data.postedAt}"></td>

							<td><!-- <a href="#" class="btn btn-sm btn-info">Edit</a> --> 
							<a th:href="@{/admin/deletePostProduct/{id}(id=${data.id})}" class="btn btn-sm btn-danger">Delete</a>
						</tr>
					</tbody>
				</table>
			</div>
		</div>

	</section>

	<script
		src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
