<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home - Retail Shop</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
	<div th:replace="~{header :: header}"></div>
	
    <div class="container">
        <h2 class="my-4">Available Products</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card">
                    <img class="card-img-top" alt="Product Image">
                    <div class="card-body">
                        <h5 class="card-title" > Product1</h5>
                        <p class="card-text" >Description</p>
                        <p class="card-text font-weight-bold">Price: <span >0Rs</span></p>
                        <button class="btn btn-primary">Buy Now</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div th:replace="~{footer :: footer}"></div>
</body>
</html>